@{
    ViewBag.Title = "To Derp";
}


<script type="text/html" id="row-template">
    <span class="span0"><input type="checkbox" name="Completed" id="todo-{{TodoItemId}}" {{#if Completed}}checked="checked"{{/if}} /></span>
    <span class="span6 task"><label for="todo-{{TodoItemId}}">{{TaskName}}</label></span>
    <span class="span4 date">{{#if Completed}}{{prettydate CompletedAt}}{{else}}{{prettydate CreatedAt}}{{/if}}</span>
</script>

<div class="container">
    

    <div class="row" id="create-container">
        <h1>ToDos</h1>
        <form id="create">
            <div class="span12">
                <input type="text" name="TaskName" placeholder="Walk the dog" class="span8" />
                <input type="submit" class="btn btn-inverse btn-hug" id="" value="Add" />
            </div>
        </form>
    </div>

    <h3 id="progress">In Progress</h3>
    <ul id="inprogress" class="stripe">
        <li class="row">
            <span class="span0 check-padding"></span>
            <span class="span6 head">Task</span>
            <span class="span4 head">Created</span>
        </li>

    </ul>

    <h3>Completed</h3>
    <ul id="completed" class="stripe">
        <li class="row">
            <span class="span0 check-padding">&nbsp;</span>
            <span class="span6 head">Task</span>
            <span class="span4 head">Completed</span>
        </li>
    </ul>
</div>